{% load staticfiles %}
<!DOCTYPE html>
<html lang="es">
<head>
 <meta charset="UTF-8">
    <title>Entérate UCAB | calendario</title>
    <link rel="stylesheet" href="{%  static 'css/home.css' %}">
    <link rel="stylesheet" href="{%  static 'css/loading.css' %}">
    <link href="{% static 'img/logo.png' %}" rel="shortcut icon">
    <link href="https://fonts.googleapis.com/css?family=Roboto|Thasadith" rel="stylesheet">
    <link rel="stylesheet" href="{%  static 'css/css/material-design-iconic-font.min.css' %}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
	<h1>Calendario</h1>
<br/><br/>
<div id="calendario">
  <div id="anterior" onclick="mesantes()"></div>
  <div id="posterior" onclick="mesdespues()"></div>
  <h2 id="titulos"></h2>
  <table id="diasc">
    <tr id="fila0"><th></th><th></th><th></th><th></th><th></th><th></th><th></th></tr>
    <tr id="fila1"><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
    <tr id="fila2"><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
    <tr id="fila3"><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
    <tr id="fila4"><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
    <tr id="fila5"><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
    <tr id="fila6"><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
  </table>
  <div id="fechaactual"><i onclick="actualizar()">HOY: </i></div>
  <div id="buscafecha">
    <form action="#" name="buscar">
      <p>Buscar ... MES
        <select name="buscames">
          <option value="0">Enero</option>
          <option value="1">Febrero</option>
          <option value="2">Marzo</option>
          <option value="3">Abril</option>
          <option value="4">Mayo</option>
          <option value="5">Junio</option>
          <option value="6">Julio</option>
          <option value="7">Agosto</option>
          <option value="8">Septiembre</option>
          <option value="9">Octubre</option>
          <option value="10">Noviembre</option>
          <option value="11">Diciembre</option>
        </select>
      ... AÑO ...
        <input type="text" name="buscaanno" maxlength="4" size="4" />
      ... 
        <input type="button" value="BUSCAR" onclick="mifecha()" />
      </p>
    </form>
  </div>
</div> 
</body>
</html>