{% load staticfiles %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Entérate UCAB | Calendario</title>
    <link rel="stylesheet" href="{% static 'css/home.css' %}">
    <link rel="stylesheet" href="{% static 'css/calendar.css' %}">
    <link href="https://fonts.googleapis.com/css?family=Roboto|Thasadith" rel="stylesheet">
    <link rel="stylesheet" href="{%  static 'css/css/material-design-iconic-font.min.css' %}">
    <link rel="stylesheet" href="{%  static 'css/loading.css' %}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<header>
    <div class="section-header min">
        <i class="zmdi zmdi-menu button-menu" ></i>
    </div>
    <div class="section-header">
        <img src="{% static 'img/logo.png' %}" alt="" class="logo">
    </div>
    <div class="section-header title">CALENDARIO <i class="zmdi zmdi-calendar title-icon"></i></div>
</header>
<body>
    <nav class="navbar">
        <div class="join">
            <img class="profile-image-navbar" src="{% static 'img/user.png' %}" alt="">
        </div>

        <ul class="menu-selection">
            <li><a class="menu-option" href="#!"> <i class="zmdi zmdi-home"></i> INICIO</a></li>
            <li><a class="menu-option" href="#!"> <i class="zmdi zmdi-assignment"></i> NOTICIAS</a></li>
            <li><a class="menu-option" href="../calendar"> <i class="zmdi zmdi-calendar"></i> CALENDARIO</a></li>
            <li><a class="menu-option" href="create"> <i class="zmdi zmdi-plus"></i> CREAR</a></li>
        </ul>
    </nav>
    <div class="dark-background"></div>
    <div class="calendar">
        <div class="calendar-header">
            <div class="calendar-name">
                EVENTOS DEL MES DE ENERO
            </div>
            <div class="week">
            <div class="day-description">Lunes</div>
            <div class="day-description">Martes</div>
            <div class="day-description">Miércoles</div>
            <div class="day-description">Jueves</div>
            <div class="day-description">Viernes</div>
            <div class="day-description">Sábado</div>
            <div class="day-description">Domingo</div>
        </div>
        </div>
        <div class="week">
            <div class="date date1">
                <div class="alpha">
                    <div class="events-of-day">

                    </div>
                    <div class="calendar-date">
                        <div class="date-day">
                        </div>
                    </div>
                </div>
            </div>
            <div class="date date2">
                <div class="alpha"></div>
            </div>
            <div class="date date3">
                <div class="alpha"></div>
            </div>
            <div class="date date4">
                <div class="alpha"></div>
            </div>
            <div class="date date5">
                <div class="alpha"></div>
            </div>
            <div class="date date6">
                <div class="alpha"></div>
            </div>
            <div class="date date7">
                <div class="alpha"></div>
            </div>
        </div>
        <div class="week">
            <div class="date date8">
                <div class="alpha"></div>
            </div>
            <div class="date date9">
                <div class="alpha"></div>
            </div>
            <div class="date date10">
                <div class="alpha"></div>
            </div>
            <div class="date date11">
                <div class="alpha"></div>
            </div>
            <div class="date date12">
                <div class="alpha"></div>
            </div>
            <div class="date date13">
                <div class="alpha"></div>
            </div>
            <div class="date date14">
                <div class="alpha"></div>
            </div>
        </div>
        <div class="week">
            <div class="date date15">
                <div class="alpha"></div>
            </div>
            <div class="date date16">
                <div class="alpha"></div>
            </div>
            <div class="date date17">
                <div class="alpha"></div>
            </div>
            <div class="date date18">
                <div class="alpha"></div>
            </div>
            <div class="date date19">
                <div class="alpha"></div>
            </div>
            <div class="date date20">
                <div class="alpha"></div>
            </div>
            <div class="date date21">
                <div class="alpha"></div>
            </div>
        </div>
        <div class="week">
            <div class="date date22">
                <div class="alpha"></div>
            </div>
            <div class="date date23">
                <div class="alpha"></div>
            </div>
            <div class="date date24">
                <div class="alpha"></div>
            </div>
            <div class="date date25">
                <div class="alpha"></div>
            </div>
            <div class="date date26">
                <div class="alpha"></div>
            </div>
            <div class="date date27">
                <div class="alpha"></div>
            </div>
            <div class="date date28">
                <div class="alpha"></div>
            </div>
        </div>
        <div class="week">
            <div class="date date29">
                <div class="alpha"></div>
            </div>
            <div class="date date30">
                <div class="alpha"></div>
            </div>
            <div class="date date31">
                <div class="alpha"></div>
            </div>
            <div class="date date32">
                <div class="alpha"></div>
            </div>
            <div class="date date33">
                <div class="alpha"></div>
            </div>
            <div class="date date34">
                <div class="alpha"></div>
            </div>
            <div class="date date35">
                <div class="alpha"></div>
            </div>
        </div>
    </div>
        <!-------------Loading----------------->
    <div class="loading">
		<div id="loading27">
      	      <div class="colorBalls"></div>
		</div>
		<div class="loadingText">
			Espere un momento por favor...
		</div>
	</div>
    <script src="https://widget.cloudinary.com/v2.0/global/all.js" type="text/javascript"></script>
    <script src="{% static 'js/jquery-3.1.1.min.js' %}"></script>
    <script src="{% static 'js/request.js' %}"></script>
    <script src="{% static 'js/managers.js' %}"></script>
    <script src="{% static 'js/events-views.js' %}"></script>
    <script src="{% static 'js/change-profile-image.js' %}"></script>
    <script src="{% static 'js/calendar.js' %}"></script>
</body>
</html>