<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Entérate UCAB | Eventos</title>
    <link rel="stylesheet" href="../css/event-info.css">
    <link rel="stylesheet" href="../css/css/material-design-iconic-font.min.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
    <div class="event-card">
        <div class="event-image">

        </div>
        <div class="data">
            <div class="stat name-author">
                <div class="name">
                    Rolando Andrade
                </div>

            </div>
            <div class="author">
                <img src="../img/user.png" alt="">
            </div>
            <div class="stat place">
                <div class="icon-stat">
                    <i class="zmdi zmdi-pin"></i>
                </div>
                <div class="data-stat">
                    Auditorio de Biblioteca Vieja
                </div>
            </div>
            <div class="stat date">
                <div class="icon-stat">
                    <i class="zmdi zmdi-calendar"></i>
                </div>
                <div class="data-stat">
                    10 de Enero
                </div>
            </div>
            <div class="stat hour">
                <div class="icon-stat">
                    <i class="zmdi zmdi-alarm"></i>
                </div>
                <div class="data-stat">
                    10:00 a.m.
                </div>
            </div>
        </div>
        <div class="content">
            <div class="event-title">
                Lorem ipsum dolor sit amet, consectetur
            </div>
            <div class="description">
                <div>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi blanditiis corporis cumque
                    distinctio dolore facere fugit hic incidunt maiores molestias mollitia nam nobis nostrum officia
                    optio praesentium quis, recusandae similique.
                </div>
                <div>Adipisci, distinctio dolorem explicabo iure odio possimus quasi quidem soluta. Deleniti dolor eaque
                    eum excepturi explicabo fugit incidunt iusto laborum laudantium, nemo nihil nisi odio placeat quas
                    tempore veniam voluptate.
                </div>
                <div>Accusamus adipisci alias fugit inventore maxime nam neque perferendis recusandae sint, tempora.
                    Culpa eius porro quisquam sint. Aliquam architecto consectetur consequuntur ea enim error fugiat
                    laborum suscipit temporibus, voluptatem. Necessitatibus.
                </div>
            </div>
        </div>
        <div class="fast-info">
            <div class="column">
                <div class="row">
                    <div class="icon-fast"><i class="zmdi zmdi-accounts"></i></div>
                    <div class="data-fast">5 asistentes</div>
                </div>

                <div class="row">
                    <div class="icon-fast"><i class="zmdi zmdi-pin"></i></div>
                    <div class="data-fast location">Caracas</div>
                </div>

            </div>
            <div class="column">

                <div class="row">
                    <div class="icon-fast"><i class="zmdi zmdi-account"></i></div>
                    <div class="data-fast">Rolando Andrade</div>
                </div>
                <div class="row">
                    <div class="icon-fast"><i class="zmdi zmdi-email"></i></div>
                    <div class="data-fast">contacto@contacto.com</div>
                </div>
            </div>
        </div>
        <div class="assist">
            Asistir <i class="zmdi zmdi-check"></i>
        </div>

    </div>
    <a href="../" class="back-button-float">
        <i class="zmdi zmdi-arrow-back icon-back"></i>
    </a>
</body>
</html>