{% load staticfiles %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Entérate UCAB</title>
    <link rel="stylesheet" href="{%  static 'css/home.css' %}">
    <link rel="stylesheet" href="{%  static 'css/loading.css' %}">
    <link href="{% static 'img/logo.png' %}" rel="shortcut icon">
    <link href="https://fonts.googleapis.com/css?family=Roboto|Thasadith" rel="stylesheet">
    <link rel="stylesheet" href="{%  static 'css/css/material-design-iconic-font.min.css' %}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<header>
    <div class="section-header min">
        <i class="zmdi zmdi-menu button-menu" ></i>
    </div>
    <div class="section-header">
        <img src="{% static 'img/logo.png' %}" alt="" class="logo">
    </div>
    <div class="section-header title">INICIO <i class="zmdi zmdi-home title-icon"></i></div>
</header>
<body>
    <!-------------Navbar----------------->
    <nav class="navbar">
        <a class="join" href="login">
            <i class="zmdi zmdi-account-add join-icon"></i>
        </a>

        <ul class="menu-selection">
            <li><a class="menu-option" href="#!"><i class="zmdi zmdi-home"></i> INICIO</a></li>
            <li><a class="menu-option" href="#!"><i class="zmdi zmdi-assignment"></i> NOTICIAS</a></li>
            <li><a class="menu-option" href="#!"><i class="zmdi zmdi-calendar"></i> CALENDARIO</a></li>
        </ul>
    </nav>
    <div class="dark-background"></div>

    <!-------------Content----------------->
    <div class="content">
        <div class="column inline">
            <div class="card-margin card1">
            <div class="big card squared">
            <div class="alpha">
                <div class="date-card">
                    <div class="text-day big day">
                        Miércoles
                    </div>
                    <div class="number-day big">
                        26
                    </div>
                    <div class="text-day big month">
                        Octubre
                    </div>
                </div>
                <div class="title-event-card big">
                    Lorem ipsum dolor sit amet, consectetur
                </div>
            </div>

        </div>
        </div>
            <div class="card-margin card2">
                <div class="big card">
                    <div class="alpha">
                        <div class="date-card">
                            <div class="text-day middle day">
                                Miércoles
                            </div>
                            <div class="number-day middle">
                                26
                            </div>
                            <div class="text-day middle month">
                                Octubre
                            </div>
                        </div>
                        <div class="title-event-card big">
                            Lorem ipsum dolor sit amet
                        </div>
                    </div>
                </div>
        </div>
            <div class="resizable">
            <div class="card-margin minline card3">
                <div class="middle card">
                <div class="alpha">
                    <div class="date-card">
                        <div class="text-day middle day">
                            Miércoles
                        </div>
                        <div class="number-day middle">
                            26
                        </div>
                        <div class="text-day middle month">
                            Octubre
                        </div>
                    </div>
                    <div class="title-event-card middle">
                        Lorem ipsum dolor sit amet
                    </div>
                </div>
    </div>
            </div>
            <div class="card-margin minline card4">
                <div class="middle card">
                <div class="alpha">
                    <div class="date-card">
                        <div class="text-day middle day">
                            Miércoles
                        </div>
                        <div class="number-day middle">
                            26
                        </div>
                        <div class="text-day middle month">
                            Octubre
                        </div>
                    </div>
                    <div class="title-event-card middle">
                        Otros eventos
                    </div>
                </div>
    </div>
            </div>
        </div>
        </div>
        <div class="column inline">
            <div class="card-margin card5">
                <div class="big card">
                    <div class="alpha">
                        <div class="date-card">
                            <div class="text-day middle day">
                                Miércoles
                            </div>
                            <div class="number-day middle">
                                26
                            </div>
                            <div class="text-day middle month">
                                Octubre
                            </div>
                        </div>
                        <div class="title-event-card big">
                            Lorem ipsum dolor sit amet
                        </div>
                    </div>
                </div>
        </div>
            <div class="resizable">
                <div class="card-margin inline card6">
                <div class="middle card">
                <div class="alpha">
                    <div class="date-card">
                        <div class="text-day middle day">
                            Miércoles
                        </div>
                        <div class="number-day middle">
                            26
                        </div>
                        <div class="text-day middle month">
                            Octubre
                        </div>
                    </div>
                    <div class="title-event-card middle">
                        Lorem ipsum dolor sit amet
                    </div>
                </div>
    </div>
            </div>
                <div class="card-margin inline card7">
                <div class="middle card">
                <div class="alpha">
                    <div class="date-card">
                        <div class="text-day middle day">
                            Miércoles
                        </div>
                        <div class="number-day middle">
                            26
                        </div>
                        <div class="text-day middle month">
                            Octubre
                        </div>
                    </div>
                    <div class="title-event-card middle">
                        Lorem ipsum dolor sit amet
                    </div>
                </div>
    </div>
            </div>
            </div>
            <div class="card-margin card8">
            <div class="big card squared">
            <div class="alpha">
                <div class="date-card">
                    <div class="text-day big day">
                        Miércoles
                    </div>
                    <div class="number-day big">
                        26
                    </div>
                    <div class="text-day big month">
                        Octubre
                    </div>
                </div>
                <div class="title-event-card big">
                    Lorem ipsum dolor sit amet, consectetur
                </div>
            </div>

        </div>
        </div>
        </div>
        <div class="column inline">
            <div class="card-margin inblock card9">
            <div class="big card squared">
            <div class="alpha">
                <div class="date-card">
                    <div class="text-day big day">
                        Miércoles
                    </div>
                    <div class="number-day big">
                        26
                    </div>
                    <div class="text-day big month">
                        Octubre
                    </div>
                </div>
                <div class="title-event-card big">
                    Lorem ipsum dolor sit amet, consectetur
                </div>
            </div>

        </div>
        </div>
            <div class="break">
                <div class="card-margin card10"    >
                <div class="big card">
                    <div class="alpha">
                        <div class="date-card">
                            <div class="text-day middle day">
                                Miércoles
                            </div>
                            <div class="number-day middle">
                                26
                            </div>
                            <div class="text-day middle month">
                                Octubre
                            </div>
                        </div>
                        <div class="title-event-card big">
                            Lorem ipsum dolor sit amet
                        </div>
                    </div>
                </div>
        </div>
                <div class="resizable">
                    <div class="card-margin minline">
                <div class="middle card">
                <div class="alpha">
                    <div class="title-event-card middle">
                        Otros eventos
                    </div>
                </div>
    </div>
            </div>
                    <div class="mini-container">
                        <div class="card-margin inline">
                            <div class="card small twitter">
                                <i class="zmdi zmdi-twitter"></i>
                            </div>
                        </div>
                        <div class="card-margin inline">
                            <div class="card small instagram">
                                <i class="zmdi zmdi-instagram"></i>
                            </div>
                        </div>
                        <div class="card-margin inline">
                            <div class="card small facebook">
                                <i class="zmdi zmdi-facebook"></i>
                            </div>
                        </div>
                        <div class="card-margin inline">
                            <div class="card small more">
                                <i class="zmdi zmdi-plus"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <!-------------Loading----------------->
    <div class="loading">
		<div id="loading27">
      	      <div class="colorBalls"></div>
		</div>
		<div class="loadingText">
			Espere un momento por favor...
		</div>
	</div>


    <script src="{% static 'js/jquery-3.1.1.min.js' %}"></script>
    <script src="{% static 'js/request.js' %}"></script>
    <script src="{% static 'js/managers.js' %}"></script>
    <script src="{% static 'js/pruebas.js' %}"></script>
</body>
</html>