<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Entérate UCAB</title>
    <link rel="stylesheet" href="../css/home.css">
    <link href="https://fonts.googleapis.com/css?family=Roboto|Thasadith" rel="stylesheet">
</head>
<body>
    <div class="big card squared orange">
        <div class="alpha black">
            <div class="date-card">
                <div class="text-day big">
                    Miércoles
                </div>
                <div class="number-day big">
                    26
                </div>
                <div class="text-day big">
                    Octubre
                </div>
            </div>
        </div>

    </div>
    <div class="middle card blue">
        <div class="date-card">
            <div class="text-day middle">
                Miércoles
            </div>
            <div class="number-day middle">
                26
            </div>
            <div class="text-day middle">
                Octubre
            </div>
        </div>
    </div>
    <div class="small card red"></div>
</body>
</html>