<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Entérate UCAB</title>
    <link rel="stylesheet" href="../css/home.css">
    <link href="https://fonts.googleapis.com/css?family=Roboto|Thasadith" rel="stylesheet">
    <link rel="stylesheet" href="../css/css/material-design-iconic-font.min.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<header>

</header>
<body>
    <nav class="navbar">
        <ul>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
        </ul>
    </nav>
    <div class="content">
        <div class="card-margin">
            <div class="big card squared">
            <div class="alpha">
                <div class="date-card">
                    <div class="text-day big">
                        Miércoles
                    </div>
                    <div class="number-day big">
                        26
                    </div>
                    <div class="text-day big">
                        Octubre
                    </div>
                </div>
            </div>

        </div>
        </div>
        <div class="vertical-card-container big inline">
            <div class="card-margin inblock">
                <div class="big card">
                <div class="alpha">
                    <div class="date-card">
                    <div class="text-day middle">
                        Miércoles
                    </div>
                    <div class="number-day middle">
                        26
                    </div>
                    <div class="text-day middle">
                        Octubre
                    </div>
            </div>
        </div>
    </div>
            </div>
            <div class="card-margin inblock">
                <div class="big card margin-top">
                <div class="alpha">
                    <div class="date-card">
                    <div class="text-day middle">
                        Miércoles
                    </div>
                    <div class="number-day middle">
                        26
                    </div>
                    <div class="text-day middle">
                        Octubre
                    </div>
            </div>
        </div>
    </div>
            </div>
        </div>
        <div class="vertical-card-container middle">
            <div class="card-margin inblock">
                <div class="middle card">
                <div class="alpha">
                    <div class="date-card">
                    <div class="text-day middle">
                        Miércoles
                    </div>
                    <div class="number-day middle">
                        26
                    </div>
                    <div class="text-day middle">
                        Octubre
                    </div>
            </div>
        </div>
            </div>
            </div>
            <div class="card-margin inblock">
                <div class="middle card">
                <div class="alpha">
                    <div class="date-card">
                    <div class="text-day middle">
                        Miércoles
                    </div>
                    <div class="number-day middle">
                        26
                    </div>
                    <div class="text-day middle">
                        Octubre
                    </div>
            </div>
        </div>
    </div>
            </div>
        </div>
        <div class="card-margin">
            <div class="big card squared">
            <div class="alpha">
                <div class="date-card">
                    <div class="text-day big">
                        Miércoles
                    </div>
                    <div class="number-day big">
                        26
                    </div>
                    <div class="text-day big">
                        Octubre
                    </div>
                </div>
            </div>

        </div>
        </div>
        <div class="card-margin inline">
                <div class="big card">
                <div class="alpha">
                    <div class="date-card">
                    <div class="text-day middle">
                        Miércoles
                    </div>
                    <div class="number-day middle">
                        26
                    </div>
                    <div class="text-day middle">
                        Octubre
                    </div>
            </div>
        </div>
    </div>
            </div>
        <div class="card-margin inline">
                <div class="middle card">
                <div class="alpha">
                    <div class="date-card">
                    <div class="text-day middle">
                        Miércoles
                    </div>
                    <div class="number-day middle">
                        26
                    </div>
                    <div class="text-day middle">
                        Octubre
                    </div>
            </div>
        </div>
            </div>
            </div>
        <div class="card-margin inline">
                <div class="middle card">
                <div class="alpha">
                    <div class="date-card">
                    <div class="text-day middle">
                        Miércoles
                    </div>
                    <div class="number-day middle">
                        26
                    </div>
                    <div class="text-day middle">
                        Octubre
                    </div>
            </div>
        </div>
            </div>
            </div>
        <div class="card-margin inline">
                <div class="big card">
                <div class="alpha">
                    <div class="date-card">
                    <div class="text-day middle">
                        Miércoles
                    </div>
                    <div class="number-day middle">
                        26
                    </div>
                    <div class="text-day middle">
                        Octubre
                    </div>
            </div>
        </div>
    </div>
            </div>
        <div class="mini-container">
            <div class="card-margin inline">
                <div class="small card twitter">
                    <i class="zmdi zmdi-twitter"></i>
                </div>
            </div>
            <div class="card-margin inline">
                <div class="small card facebook">
                    <i class="zmdi zmdi-facebook"></i>
                </div>
            </div>
            <div class="card-margin inline">
                <div class="small card instagram">
                    <i class="zmdi zmdi-instagram"></i>
                </div>
            </div>
            <div class="card-margin inline">
                <div class="small card more">
                    <i class="zmdi zmdi-plus"></i>
                </div>
            </div>
        </div>
    </div>
</body>
</html>