<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Entérate UCAB | Iniciar sesión</title>
    <link rel="stylesheet" href="../css/login.css">
    <link href="https://fonts.googleapis.com/css?family=Roboto|Thasadith" rel="stylesheet">
    <link rel="stylesheet" href="../css/css/material-design-iconic-font.min.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
    <div class="login-card">
        <div class="title-login">Iniciar sesión</div>
        <div class="content">
            <div class="boxes-container">
                <div class="label-login">Correo electrónico</div>
                <input type="email" class="input-box email">
                <div class="icon-login email"><i class="zmdi zmdi-email"></i></div>
            </div>
            <div class="boxes-container">
                <div class="label-login">Contraseña</div>
                <input type="password" class="input-box pass">
                <div class="icon-login lock"><i class="zmdi zmdi-lock"></i></div>
                <div class="showme">
                    <i class="zmdi zmdi-eye"></i>
                </div>
            </div>
            <div class="bottom-login">¿No tienes una cuenta? <a href="#" class="goTo">¡Crea una!</a></div>
            <div class="input-button">Iniciar sesión</div>
        </div>
    </div>
    <script src="../js/jquery-3.1.1.min.js"></script>
    <script src="../js/form-manager.js"></script>
</body>
</html>