.text-upload
{
    font-size: 20px;
    color: transparent;
    background: transparent;
    position: absolute;
    line-height: 200px;
    width: 100%;
    height: 200px;
    cursor: pointer;
    transition: 0.5s all;
}
.text-upload:hover
{
    font-size: 20px;
    color: white;
    background: rgba(33,33,33,0.6);
    position: absolute;
    line-height: 200px;
    width: 100%;
    height: 200px;
}

.input-create
{
    font-size: 12px;
    background: rgba(255,255,255,0.8);
    padding: 5px;
    color: #424242;
    border: none;
    width: 80%;
    text-align: center;
}

.input-create.big::placeholder
{
    color: rgba(255, 255, 255, 0.71);

}
.input-create.big
{
    font-size: 30px;
    padding: 0;
    background: rgba(33,33,33,0.05);
    color: white;
}

.text-area
{
    width: 100%;
    font-size: 15px;
}

.ready
{
    font-size: 20px;
    padding: 15px;
    background: rgba(255, 182, 78, 0.6);
    color: white;
    cursor: pointer;
}